.Extruder {
    background-color: #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
    position: absolute;
}

.Nozzle {
    background-color: #aaaaaa;
    position: absolute;
    width: 12px;
    height: 12px;
  clip-path: polygon(100% 0, 100% 50%, 50% 75%, 0 50%, 0 0);
}